@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    padding: 50px;
    font-family: "Lexend";
    background-color: #F3EFDF;
    color: #3f3c3c;
}

h1 {
  font-size: 6em;
  text-align: center;
  margin-bottom: 50px;
}

h2 {
  font-size: 2.5em;
  text-align: center;
}

.whole-page, .form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

form {
  margin-top: 30px;
}

li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  list-style-type: none;
  color: #F3EFDF;
  box-shadow: 0 5px 10px rgba(142, 140, 140, 0.05), 0 15px 40px rgba(0, 0, 0, 0.2);

}

.form-url, .form-format, .form-no_ads, .form-no_cookie_banners, .form-width, .form-height {
  border-radius: 50px;
  padding: 30px;
}

.form-url {
  background-color: rgb(230, 122, 181);
}

.form-format {
  background-color: rgb(232, 156, 95);
}

.form-no_ads {
  background-color: rgb(220, 204, 111);
}

.form-no_cookie_banners {
  background-color: rgb(122, 230, 158);
}

.form-width {
  background-color: rgb(122, 187, 230);
}

.form-height {
  background-color: rgb(210, 142, 234);
}

input {
  border: none;
  border-radius: 50px;
  width: 50%;
  height: 50px;
  padding: 20px;

  font-family: "Lexend";
  font-size: 1.1em;

  color: #3f3c3c;
  background-color: #F3EFDF;
}

p {
  text-align: center;
  font-size: 1.2em;
}

button {
  border: 8px solid #3f3c3c;
  font-family: "Lexend";
  
  color: #3f3c3c;
  background-color: #F3EFDF;
  
  border-radius: 50px;
  padding: 20px;
  font-size: 2em;

  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #3f3c3c;
  color: #F3EFDF;
  
}

